<html>
<head>
 <title>: : 2G CSSR : :</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <link rel="stylesheet" type = 'text/css' href= "{{ url_for('static', filename='css/style.css') }}">
  <!-- <link rel="stylesheet" href="F:\Darshika\Personal\Practice\hh\style.css"> -->
</head>
<body>
 	<div class="content">
		Let's Improve 2G CSSR
 	</div>
<div class="mainbg">
 	<form method = "post" enctype="multipart/form-data" class="bg">
  			<h1>Please Upload file</h1>
			<input type = 'file' name = "file11" class="choosefile">
			<input type = 'submit' name = "Submit" class="submitbtn">
	</form>
</div>
	<form method = "post" enctype="multipart/form-data" class="bg">
		<p>Please click on below link to download reference file</p>
<!--<a href="/download" class="Downloadbtn"> Download </a> -->
    <div class="" id="dd">
  	<a href= "{{url_for('download_ref')}}" class = "Downloadbtn"> CSSR_Ref </a>
	</div>
	 </form>
<br><br>
<h3>  Prepared by: Hardik Patel</h3>

</body>
</html>